articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/d2cross_Ee0100eV-10MeV-80log_Eph100eV-10MeV-81log_ntheta61_EH.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/d2cross_Ee01eV-100MeV-80log_Eph1eV-100MeV-81log_ntheta61_EH.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/d2cross_phi_Ee01eV-100MeV-80log_Eph1eV-100MeV-81log_nthetaph61_nthetae060_EH.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/responsivities.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/d2cross_phi_Ee01eV-100MeV-240log_Eph1eV-100MeV-241log_nthetaph61_nthetae060_EH.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260616_SCRAM86_Ar_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260616_SCRAM86_Fe_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260616_SCRAM86_Kr_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260616_SCRAM86_O_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260616_SCRAM86_W_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260625_FLYCHK_H_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260625_FLYCHK_He_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/Inversion_HXRVA_ptcam_dvezinet_20260709-204104.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/TFG_Config_ExpSPARC_SPARC-V2_sh00000_Vers1.8.18.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/Inversion_BOLO_DMS_ptcam_dvezinet_20260709-205535.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/HXR_MPP200.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/HXR_MPP200_zoom.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/code/_fig03_validate_ff.py filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig02_dist_type.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig02_RE_ff.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig03_validate_ff.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig08_perfs_single.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig07_responsivities.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260715_SCRAM86_H_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/260715_SCRAM86_He_data.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/HXR_MPP200_zoom.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/OMP000U.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/OMP000U_Zoom.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/OMP000U_Zoom_inside.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig14_bolo_cad.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/inputs/Inversion_HXRVA_dvezinet_20260713-154229.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig11_hxrva_cad.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig06_tokamak.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig09_perfs_scans.png filter=lfs diff=lfs merge=lfs -text
/home/didier/Projects/publications/articles/RSI_2026_RunawayBremsstrahlungDetection/code/fig09_perfs_scans_dout.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig10_anis_vs_angle.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/code/fig09_perfs_scans_dout.npz filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig05_emiss.png filter=lfs diff=lfs merge=lfs -text
articles/RSI_2026_RunawayBremsstrahlungDetection/figures/fig13_hxrva_metrics.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
